In [91]:
import pandas as pd

In [92]:
df=pd.read_csv('Assignment5.csv',names=['A','B'])

In [93]:
df

       A      B
0    Ram  Shyam
1  Shyam  Harry
2  Harry   Lucy
3   Lucy   Shiv
4   Shiv   Shiv
5   Jake   Hana
6   Hana  Beast
7  Beast  Beast
8  Shady  Shady
9    Nox    Nox

In [94]:
a=list(df['A'])
b=list(df['B'])
D={ i:j for i,j in zip(a,b)}
D

{'Beast': 'Beast',
 'Hana': 'Beast',
 'Harry': 'Lucy',
 'Jake': 'Hana',
 'Lucy': 'Shiv',
 'Nox': 'Nox',
 'Ram': 'Shyam',
 'Shady': 'Shady',
 'Shiv': 'Shiv',
 'Shyam': 'Harry'}

In [95]:
def fun(L,d,v):
    if d[v]==v:
        L.append(v)
        return
    fun(L,d,d[v])
    L.append(v)
for i in D:
    L=[]
    fun(L,D,i)
    print(i,":"," , ".join(L))

Ram : Shiv , Lucy , Harry , Shyam , Ram
Shyam : Shiv , Lucy , Harry , Shyam
Harry : Shiv , Lucy , Harry
Lucy : Shiv , Lucy
Shiv : Shiv
Jake : Beast , Hana , Jake
Hana : Beast , Hana
Beast : Beast
Shady : Shady
Nox : Nox